numpy
pandas
sklearn
dtaidistance
torch==1.9.1
torchvision==0.10.1
torchaudio==0.9.1
torch-scatter -f https://pytorch-geometric.com/whl/torch-1.9.1+cu111.html
torch-sparse -f https://pytorch-geometric.com/whl/torch-1.9.1+cu111.html
torch-cluster -f https://pytorch-geometric.com/whl/torch-1.9.1+cu111.html
torch-spline-conv -f https://pytorch-geometric.com/whl/torch-1.9.1+cu111.html
torch-geometric -f https://pytorch-geometric.com/whl/torch-1.9.1+cu111.html